@font-face {
  font-family: ir;
  src: url(./iran.ttf);
}

body{
  font-family: ir;
  font-size: 1.1em;
  margin: 0px;
  direction: rtl;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

a{
  text-decoration: none;
}

i{
  color: rgb(41, 128, 185);
}

.right{
}

section{
  
}

.right .profile{
  display: flex;
  align-items: center;
  padding: 20px;
}

.right .profile img{
  width: 60px;
  border: solid 1px;
  border-radius: 50%;
}

.right .profile span{
  margin: 15px;
}

.right .details{
  padding: 20px;
}

.right .details .detail{
  display: flex;
  justify-content: space-between;
  
}

.right .details .detail span{
  padding: 5px;
}

.right .nav{
  display: flex;
  flex-direction: column;
  user-select: none;
}

.right .nav .n-item{
  cursor: pointer;
}

.right .nav .n-item{
  
}

.right .nav .n-item:hover{
  background-color: rgba(0, 0, 0, 0.037);
}

.right .nav .n-item i{
  padding: 20px;
  font-size: 1.3em;
}

/* left  */


.left{
  background-color: rgb(241, 242, 246);
}

.left .head{
  background-color: white;
  border-right:rgb(241, 242, 246) 1px solid;
}

.left .head .topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left .head .topnav .left-nav i{
  color: black;
  cursor: pointer;
  margin: 10px;
}

.left .head .topnav .right-nav{
  display: flex;
  align-items: center;
}

.left .head .topnav .right-nav .tog{
  font-size: 2em;
  margin: 10px;
  cursor: pointer;
}

.left .head .topnav .right-nav .search{
  display: flex;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.163);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.043);
}

.left .head .topnav .right-nav .search .sch{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.483);
}

.left .head .topnav .right-nav .search input{
  font-size: 1em;
  background: none;
  outline: none;
  border: none;
}

.left .head .topnav .left-nav i:hover{
  color: rgb(41, 128, 185);
}

.left .head .downnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left .head .downnav .r{
  font-weight: bold;
  font-size: 1.1em;
}

.left .head .downnav .l{
  background-color: rgb(247, 247, 247);
  border: 1px solid rgba(0, 0, 0, 0.082);
  padding: 8px 18px 8px 18px;
  cursor: pointer;
  border-radius: 6px;
}

main{

}

main .cards{
  padding: 30px;
  display: grid;
  grid-template-columns:repeat(4,1fr) ;
}

main .cards .card{
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  color:rgb(41, 128, 185) ;
}

main .cards .card .num{
  color: black;
}

main .cards .card div{
  display: flex;
  flex-direction: column;
}

main .cards .card i{
  
}

main .cards .card .num{

}

main .chart{
  background: white;
  margin: 20px;
}

main .chart .h-chart{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

main .chart .h-chart .hleft i{
  color: black;
  margin: 9px;
}

